<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to the text analyzer</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'>

    </textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuation
    <input type="checkbox" name="fullcaps">UPPERCASE
    <input type="checkbox" name="newlineremove">New line Remover
    <input type="checkbox" name="extraspaceremove">Space Remover
    <input type="checkbox" name="charcount">count character
    <button type="submit">Analyze text</button>
</form>
</body>
</html>